<!DOCTYPE html>
<html>
<head>
    <link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
    <title>Love as a service</title>
</head>
<body>
    <h1><%= @messageofamour %></h1>
    <h1><%= @name %></h1>
    <div class='container'/>
</body>
</html>