<!DOCTYPE html>
<html>
<head>
    <title>hello</title>
</head>
<body>
    <h1>Hello  </h1>
</body>
</html>
    @name = params[:name]
    @signature = params[:signature]
    @messageofamour = "I love you #{name}! from #{signature}"