<!DOCTYPE html>
<html>
<head>
    <title>Little Wine Lies</title>
    <link rel='stylesheet' type='text/css' href='view/style.css'>
    <link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
    <h1>Little Wine Lies</h1>
    <ul>
        <li>Attending a dinner with wine experts and don't know what to say?</li>
        <li>Ever dreamed of mastering the language of sommeliers and winemakers?</li>
        <li>Have a favourite wine but don't know how to describe it?</li>
    </ul>
<p>
Little Wine Lies helps you sound like a wine super-star in no time.
</p>
<h3>
How does it work?
</h3>
<p>
Add "/" and the name of the region your bottle comes from, followed by "/" and the color of the wine to the URL.
Press Enter to discover your connoisseur description.
</p>
<p>
eg. "www.maddienos.com/bordeaux/red" will give you the following description: "..."
</p>
<p>For a list of available regions, click <a href="#"> here </a>
</p>
</body>
</html>
